HELP.md

### Maven / Build
target/
!**/src/main/**/target/
!**/src/test/**/target/

### Logs
*.log

### OS
.DS_Store
Thumbs.db

### IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code
.vscode/

### Eclipse / STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Temporary files
*.swp
*.swo
*~

### Environment files
.env
.env.*